:root {
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.ult-container {
    background-image: url('./bg.jpg');
    min-height: 100vh;
    display: flex;
    gap: 4px;

}

/* top most flexbox contianer  */

.first {
    flex: 5;
    /* background-color: aliceblue; */
    /* border: 1px black solid; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.desc-window {
    flex: 1;
    /* background-color: aquamarine; */
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 100%; */
}

.main-window {
    position: relative;
    flex: 4;
    /* background-color: blueviolet; */
}


/* hourly weather part  */


/* desc part  */

.desc-info {
    width: 100px;
    height: 100px;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    color: white;
}

.desc-info > div > img {
    width: 70%;
    height: auto;
    color: white;
}

.desc-info > div {
    display: flex;
    justify-content: center;
}

/* search bar  */

.city-search > input {
    background-color: rgba(133, 133, 133, 0.3);
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-left: 50px;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 3px;
    /* box-shadow: none; */
    /* border: 2px solid rgba(255, 255, 255, 0.349) */
    border: none
}

/* main info  */

.main-info {
    position: absolute;
    top: 26%;
    left: 15%;
    font-style: 'Playfair Display';
    color:aliceblue;

}

.cityname {
    font-size: 60px;
    font-family: 'Nunito';
    font-weight: 600;
}

.temp-result {
    font-size: 200px;
    font-family: 'Nunito';
    font-weight: 900;
}